* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 2em;
}
label {
    font-size: 20px;

}
html,body{
    height: 100%;
    margin: 0;
    
}
p.pp1 {
    text-align:left;
    font-size: 2.5rem;
    text-shadow:1px 1px 2px black ;

}

main.pp2 {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    padding: 2rem; 

}

.article{
    font-size: 16px;
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    padding: 2rem;
   

}
.article1{
    padding: 1rem;
    
}
.article2{
    padding: 1.5rem 1rem;
   
}

@import "./produce"